doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Global Realtors │ #{pagina}
    link(rel="stylesheet", href="/css/app.css")
  body.min-h-screen.bg-gray-300

    main(class="mx-auto container mt-10 px-2")
        block contenido
